.board-list-container {
  text-align: center;
  margin: 30px auto;
}

.board-list-table {
  border-collapse: collapse;
  margin: 20px auto;
  width: 80%;
}

.board-list-table th,
.board-list-table td {
  border: 1px solid gray;
  padding: 8px;
}

.board-list-table th {
  background-color: gainsboro;
}

.board-list-button {
  margin-bottom: 20px;
}